.taiko{
	display: inline-block;
	background-image:url("../icons/taiko.gif");
	width: 16px;
	height: 16px;
	
}
.taiko.off{
	background-image:url("../icons/taiko-b.gif");
}
.osu{
	display: inline-block;
	background-image:url("../icons/osu.gif");
	width: 16px;
	height: 16px;
	
}
.osu.off{
	background-image:url("../icons/osu-b.gif");
}
.mania{
	display: inline-block;
	background-image:url("../icons/mania.gif");
	width: 16px;
	height: 16px;
}
.mania.off{
	background-image:url("../icons/mania-b.gif");
}
.ctb{
	display: inline-block;
	background-image:url("../icons/ctb.gif");
	width: 16px;
	height: 16px;
	
}
.ctb.off{
	background-image:url("../icons/ctb-b.gif");
}
.smaller-margin{
    margin-top: 10px;
    margin-bottom: 5px;
}
.padding-filters{
    padding-bottom: 8px;
}
.glyphicon{
    margin-right: 5px;
}